section.hero .left-section{
    flex-grow: 1;
  
}

section.hero{
    margin: 3rem;
    display: flex;
    
}

section.hero .parent-avatar{
    display: flex;
    align-items: end;
    min-height: 88px;
}

section.hero .icon-verified{
    color: var(--blue);
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

section.hero .avatar{
    width: 88px;
    border-radius: 50%;
    border: 1px solid darkorange;
    padding: 2px;
    gap: 0.6rem;
}

section.hero h1.title{
   font-size: 2.8rem;
   line-height: 3.3rem;
   margin: 24px 0;
   color: var(--title);
}

section.hero p.subtitle{
    font-size: 0.9rem;
    line-height: 1.65rem;
    color: var(--suptitle);
    margin-bottom: 32px;
}







section.hero .icons{
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    color: var(--suptitle);
    cursor: pointer; 
}
section.hero .icons .icon{
    font-size: 1.3rem;
}


section.hero .icons .icon:hover{
    font-size: 1.4rem;
    transition: 0.4s;
    color: var(--icon-hover);
}









/* right-section animation */

@media (max-width:1150px){
  .contact-animation{
    display: none;
  }
}


