@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3d9pbd');
  src:  url('fonts/icomoon.eot?3d9pbd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3d9pbd') format('truetype'),
    url('fonts/icomoon.woff?3d9pbd') format('woff'),
    url('fonts/icomoon.svg?3d9pbd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
  content: "\e901";
}
.icon-weather:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-brand:before {
  content: "\e902";
}
.icon-social:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e900";
}
.icon-keyboard_arrow_up:before {
  content: "\e903";
}
.icon-arrow_forward:before {
  content: "\e904";
}
.icon-verified:before {
  content: "\e905";
}
.icon-link:before {
  content: "\e906";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-moon-o:before {
  content: "\f186";
}
