:root {
    --primary: #000;
    --secondary: rgb(24 24 27);
    --border: rgba(63, 63, 70, 0.4);
    --title: rgb(244 244 245);
    --suptitle: rgb(161 161 170);
    --bgheader: rgb(39 39 42);
    --blue: rgb(39 188 252);
}

/* Header الأساسي */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

/* القوائم العادية */
.nav-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background-color: var(--bgheader);
    border-radius: 55px;
    padding: 0.77rem 1.6rem;
    box-shadow: 1px 2px 40px rgba(228, 219, 219, 0.1);
}

.nav-item {
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-item:hover {
    color: var(--blue);
    opacity: 1;
    font-size: 0.9rem;
}

/* زر تغيير الثيم */
.mode {
    background-color: var(--bgheader);
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--suptitle);
    border: 1px solid rgba(244, 165, 96, 0.247);
    transition: 0.3s ease;
    cursor: pointer;
}

.mode:hover {
    color: var(--suptitle);
    border: 1px solid rgb(244, 165, 96);
}

/* زر قائمة الهواتف */
.icon-menu {
    display: none;
}

.icon-menu:hover {
    color: var(--suptitle);
    border: 1px solid rgb(244, 165, 96);
}

/* زر إغلاق المودال */
.icon-close {
    font-size: 1.5rem;
    color: var(--suptitle);
    transition: 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.icon-close:hover {
    font-size: 1.6rem;
    color: crimson;
    transform: rotate(360deg);
}

/* المودال */
.fixed {
    position: fixed;
    inset: 0;
    background-color: rgba(39, 39, 48, 0.91);
    z-index: 11;
    backdrop-filter: blur(4px);
}

.fixed .model {
    animation: mymove 0.8s ease forwards;
    width: 75%;
    background-color: var(--secondary);
    margin: 2rem auto 0 auto;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.fixed .model li {
    border-bottom: 1px solid var(--border);
    padding: 0.5rem 0;
    text-align: right;
}

.fixed .model li:first-child {
    border: none;
    padding-top: 0.2rem;
    text-align: right;
}

.fixed .model li:last-child {
    border-bottom: none;
}

.fixed .model .nav-item {
    display: block;
    font-size: 1.1rem;
    color: var(--suptitle);
    text-decoration: none;
    transition: 0.25s ease;
    padding: 0.7rem 0;
}

.fixed .model .nav-item:hover {
    transform: translateX(6px) scale(1.03);
    color: var(--suptitle);
}

/* الرسوميات */
@keyframes mymove {
    0% { transform: scale(0); }
    60% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/* Responsive */
@media (max-width: 700px) {
    .nav-list {
        display: none;
    }

    .icon-menu {
        display: flex;
    }
}
