:root{
  --primary:#000;
  --secondary:rgb(24 24 27);
  --border:rgba(63, 63, 70, 0.4);
  --title:rgb(244 244 245);
  --suptitle:rgba(161, 161, 170, 0.63);
  --blue:rgb(0, 122, 255);
  --icon-hover:rgb(212, 212, 216);
}

*{
  margin: 0;
  padding: 0;
  
}



*,*:before,*:after{
  box-sizing: inherit;
}
.light{
  --primary:rgba(250, 250, 250, 0.849);
  --secondary:rgb(255, 255, 255);
  --border:rgba(202, 202, 202, 0.575);

  --title:rgb(17, 17, 19);
  --suptitle:rgba(82, 82, 91);
  --blue:rgb(0, 149, 246);
  --bgheader:rgb(238, 236, 236);
  --icon-hover:#333;
}

body{
    
  background-color: var(--primary);
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:wght@500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1px;
   box-sizing: border-box;
  scroll-behavior: smooth;
}

.container{
  border: var(--border) solid 2px;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
}

.divider{
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + 1.7rem * 2);
  margin-left: -1.7rem;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}
a:hover{
  cursor: pointer;
}

button{
  all: unset;
  cursor: pointer;
}

button:active{
  transform: scale(0.9);
}
button:disabled{
  cursor: not-allowed;
}

.container{
  padding: 0 3rem;
}

::-webkit-scrollbar {
  width: 0.8px;
}

::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
}
::-webkit-scrollbar-thumb {
  background:#888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html{scrollbar-color: #9c4673  #3d4a59;}

.icon-keyboard_arrow_up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 2.6rem;
  height: 2.6rem;
  background-color: var(--blue);
  color: var(--title);
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
}

.icon-keyboard_arrow_up:hover {
 background-color: rgb(25, 118, 210);
}


@media (max-width: 1000px) {
  .container{
    width: 90%;
    padding: 0 1.7rem;
  }
}

@media (max-width: 500px) {
  .container{
    width: 98%;
    padding: 0 1.7rem;
  }
  .icon-keyboard_arrow_up{
    width: 2rem;
    height: 2rem;
    opacity: 0.3;
  }
}



